*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
.garis {
	width: 80%;
	color: #f5f5f5; 
}

.home,
.tentang,
.produk {
	width: 100%;
	height: 100vh;
}
.navbarku {
	width: 100%;
	height: auto;
	background-color: transparent;
	position: fixed;
	font-size: 24px;
	padding: 30px;
	text-decoration: none;
	color: #f5f5f5;
	z-index: 99;
	transition: 0.4s;
}
.navbarku a {
	color: #f5f5f5;
}
.navbarku a:hover {
	color: #d3d4d8;
	text-decoration: none;
}
.left {
	float: left;
}
.right {
	float: right;
	margin-right: 30px;
}
.btnku {
	background-color: #3fbac2;
	font-size: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
	border-radius: 10px;
	padding-right: 20px;
	padding-left: 20px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
	transition: 0.6s;
}
.home {
	
	background-size: cover;
	background-attachment: fixed;
}
.tentang {
	background-color: #3fbac2;
	padding: 150px;
	padding-top: 100px;
	font-size: 20px;
	text-align: center;
}
.produk {
	background-color: #f5f5f5;
	padding-top: 100px;
	padding-left: 10%;
	padding-right: 10%;
}
.kontak {
	width: 100%;
	height: 60vh;
	background-color: #4d606e;
	color: #f5f5f5;
	padding-top: 30px;
	font-family: Times new Roman;
}
.footer {
	padding: 15px;
	text-align: center;
	color: #f5f5f5;
	width: 100%;
	height: auto;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
	background-color: #3fbac2;
	font-size: 18px;
}
.logo {
	padding: 5px;
	width: 80px;
	transition: 0.6s;
}
.logo2 {
	border-radius: 130px;
	padding: 20px;
	width: 80px;
	transition: 0.6s;
}
.btn2 {
	background-color: #3fbac2;
	border-color: transparent;
	height: 30px;
}
.input {
	height: 40px;
}
.icon {
	color: #f5f5f5;
	width: 30px;
}
.icon1 {
	width: 30px;
	font-size: 18px;
	color: #f5f5f5;
}

.flip-card {
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
	height: 350px;
	background-color: transparent;
	perspective: 1000px;
}
.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}
.flip-card:hover .flip-card-inner {
	transform:rotateY(180deg);
}
.flip-card-header {
	position: absolute;
	width: 100%;
	height: 50%;
	backface-visibility: hidden;
	color: white;
}
.flip-card-front {
	padding: 20px;
	margin-top: 175px;	
	position: absolute;
	width: 100%;
	height: 50%;
	backface-visibility: hidden;
	color: white;
	background-image: linear-gradient(45deg, #4d606e 30%, #3fbac2 30%);
}
.flip-card-back {
	padding: 20px;
	padding-bottom: 185px;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	color: white;
	background-image: linear-gradient(-45deg, #3fbac2 30%, #4d606e 30%);
	transform: rotateY(180deg);
}
.flip-card-back-footer {
	padding: 10px;
	margin-top: 280px;
	position: absolute;
	width: 100%;
	height: 15%;
	backface-visibility: hidden;
	color: white;
	background-color: transparent;
	transform: rotateY(180deg);
}

.kotak {
	margin-top: 125px;
	width: 100%;
	padding-top: 0px!important;
	padding: 40px;
	color: #f5f5f5;
	height: auto;
	background-image: linear-gradient(180deg, #4d606e 65px, transparent 65px);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
	border-radius: 20px;
}
.pilih {
	padding-top: 20px!important;
	border-radius: 20px;
	padding: 20px;
	width: 100%;
	height: 200px;
	background-color: #3fbac2;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}
.kotak a {
	margin-top: 40px;
	height: 200px;
	width: 100%;
	color: #f5f5f5;
}
.kotak a:hover {
	text-decoration: none;
	color: #f5f5f5;
}
.pilih:hover {
	transform: scale(1.1);
}


.login {
	color: #f5f5f5;
	text-align: center;
	padding-top: 50px!important;
	margin-top: 70px!important;
	background-color: #4d606e;
	padding: 50px;
	height: auto;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}
.reg {
	color: #f5f5f5;
	
	padding-top: 10px!important;
	margin-top: 15px!important;
	background-color: rgba(0,0,0,0.4);
	padding: 50px;
	height: auto;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}
.sidenav {
	color: white;
	padding-top: 30px;
	width: 250px;
	height: 100%;
	position: fixed;
	background-color: #4d606e;
	padding: 20px;
	overflow-y: auto;
}
.menu {
	margin-top: 30px;
	font-family: sans-serif;
}
.menu a:hover {
	color: #f5f5f5;
	text-decoration: none;
}
.submenu {
	font-size: 18px;
	color: #d3d4d8;
	text-decoration: none;
	font-family: sans-serif!important;
}
.content {
	margin-left: 250px!important;
	margin-right: 0px!important;
	padding: 30px;
}
.box {
	background-color: white;
	height: auto;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
	height: auto;
	padding: 20px;
}


.topik {
	position: relative;
	width: 100%;
	background-image: linear-gradient(#ffffff 50%, #3fbac2 50%);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
	margin-bottom: 50px;
	height: 400px;
	text-align: center;
	color: #f5f5f5;
}
.topik-header {
	width: 100%;
	position: absolute;
	height: 50%;
}
.topik-body {
	top: 50%;
	width: 100%;
	position: absolute;
	height: 30%;
	padding: 5px;
}
.topik-footer {
	top: 80%;
	width: 100%;
	position: absolute;
	height: 20%;
	padding: 15px;
}